<!doctype html>
<html lang="en" ng-app="lunchSociety">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lunch Society App</title>
    <link href="./assets/css/app.css" rel="stylesheet" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="./assets/js/foundation.js"></script>
    <script src="./assets/js/templates.js"></script>
    <script src="./assets/js/routes.js"></script>
    <script src="./assets/js/app.js"></script>
    <script src="./assets/js/controllers.js"></script>
    <script src="./assets/js/directives.js"></script>
    <script src="./assets/js/services.js"></script>
    <script src="./assets/js/filters.js"></script>
  </head>
  <body>
    <div ui-view>

    </div>

    <ls-modal
        ng-show="subview"
        ng-switch="subview">

        <!-- BEGIN: Status Modal. -->
        <div
            ng-switch-when="status"
            ng-controller="statusModalCtrl"
            class="ls-modal">

            <div class="ls-modal-body">
                <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>

        </div>
        <!-- END: Status Modal. -->


        <!-- BEGIN: Alert Modal. -->
        <div
            ng-switch-when="alert"
            ng-controller="alertModalCtrl"
            class="ls-modal">

            <p>
                {{ message }}
            </p>

            <p>
                <a ng-click="close()" class="button">Ok, I got it!</a>
            </p>

        </div>
        <!-- END: Alert Modal. -->

         <!-- BEGIN: Feeback Modal. -->
        <div
            ng-switch-when="feedback"
            ng-controller="feedbackModalCtrl"
            class="ls-modal">

            <h2>Feedback #{{feedback.id}}</h2>
            <p>{{feedback.order.order_date | date}}</p>
            <a ui-sref="customer({id: {{feedback.order.customer.id}}})">{{feedback.order.customer.first_name | titleCase}} {{feedback.order.customer.last_name | titleCase}} </a>
            <a ui-sref="offer({id: {{feedback.offer.id}}})">{{feedback.order.offer.meal.name | titleCase}}</a>
            <a ui-sref="restaurant({id: feedback.offer.meal.restaurant.id })">{{feedback.order.offer.meal.restaurant.name | titleCase}}</a>
            <p>Flavour: {{feedback.flavour}}</p>
            <p>Portion Size: {{feedback.portion_size}}</p>
            <p>Overall: {{feedback.overall}}</p>
            <p>Comments: {{feedback.comments}}</p>
            <p>
                <a ng-click="close()" class="button">Ok, I got it!</a>
            </p>

        </div>
        <!-- END: Alert Modal. -->


        <!-- BEGIN: Confirm Modal. -->
        <div
            ng-switch-when="confirm"
            ng-controller="confirmModalCtrl"
            class="ls-modal">

            <p>
                {{ message }}
            </p>

            <p>
                <a ng-click="confirm()" class="button">{{ confirmButton }}</a>
                &mdash;
                <a ng-click="deny()" class="button">{{ denyButton }}</a>
            </p>

        </div>
        <!-- END: Confirm Modal. -->




        <!-- BEGIN: Prompt Modal. -->
        <form
            ng-switch-when="prompt"
            ng-controller="promptModalCtrl"
            ng-submit="submit()"
            class="ls-modal">

            <p>
                {{ message }}
            </p>

            <p ng-if="errorMessage">
                <strong>Sorry:</strong> {{ errorMessage }}
            </p>

            <p>
                <input type="text" ng-model="form.input" />
            </p>

            <p>
                <a ng-click="submit()" class="button">Submit</a>
                <a ng-click="cancel()" class="button">Cancel</a>
            </p>

        </form>
        <!-- END: Prompt Modal. -->

    </ls-modal>
</html>
