<nav class="menu-group ls-app-nav">
  <div class="menu-group-left">
    <ul class="menu-bar">
      <li><a href="#">Lunch Society</a></li>
    </ul>
  </div>
  <div class="menu-group-right">
    <ul class="icon-left menu-bar">
      <li>
        <a ui-sref="browse"><i class="fa fa-cutlery" aria-hidden="true"></i>Browse</a>
      </li>
      <li>
        <a ui-sref="profile"><i class="fa fa-user" aria-hidden="true"></i>Profile</a>
      </li>
      <li>
        <a ui-sref="history"><i class="fa fa-history" aria-hidden="true"></i>History</a>
      </li>
      <li>
        <a ng-click="logout()" class="button ls-logout-btn">Logout</a>
      </li>
    </ul>
  </div>
</nav>
