ls-modal {
  background-color: rgba( 0, 0, 0, 0.8);
  bottom: 0px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  &.ng-hide {
    background-color: rgba( 0, 0, 0, 0);
  }
  &.ng-hide-add.ng-hide-add-active,
  &.ng-hide-remove.ng-hide-remove-active {
    transition: 250ms ease all;
  }
  > .ls-modal {
    background-color: #FAFAFA;
    @include border-radius(3px);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 20px;
    @include center-both;
    position: fixed;
    width: 400px;
    text-align: center;
  }
  &.ng-hide > .modal.ng-enter {
    top: -200px;
    transition: 250ms ease top;
  }
  &.ng-hide > .modal.ng-enter.ng-enter-active {
    top: 200px;
  }
  i {
    color: $primary-color;
  }
  p {
    font-size: 1rem;
  }
  .ls-feedback-id {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $primary-color;
    font-size: 1rem;
    color: #fff;
    padding: 10px;
    @include border-radius-all(3px, 0, 3px, 0);
  }
  .ls-feedback-info {
    margin-top: 40px;
    .ls-customer-link {
      color: $dark-color;
      display: block;
      margin-bottom: 10px;
      @include transition;
      &:hover {
        color: $primary-color;
      }
    }
  }
  .ls-meal-offer {
    margin: 20px 0;
    .ls-offer-link {
      font-size: 1.2rem;
      display: block;
      margin-bottom: 10px;
      @include transition;
      &:first-child {
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
        margin-bottom: 10px;
      }
    }
  }
  .ls-feedback-date {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1rem;
    padding: 12px;
  }
  .ls-ratings {
    width: 100%;
    font-size: 1rem;
    @include clearfix;
    margin-bottom: 10px;
    li {
      float: left;
      width: calc(96%/3);
      margin-right: 2%;
      text-align: center;
      &:last-child {
        margin-right: 0;
      }
    }
  }
    .ls-comments {
        margin-top:20px;
    }
    .button {
        margin-right: 0;
        margin-bottom: 0;
    }
}
