.ls-table-layout-pages {
  .ls-nav-header {
    margin-bottom: 20px;
    h4 {
      margin-top: 10px;
    }
  }
  .ls-filter-form {
    .button {
      margin-top: 22px;
      width: 100%;
    }
  }
}
