.ls-manage-restaurants {
    ul {
        width:100%;
        margin-top: 20px;
        display: block;
        @include clearfix;
    }
    .ls-card {
        margin-right: 2%;
        width:32%;
        float: left;
        height: 300px;
        &:nth-child(3n) {
          margin-right: 0;
        }
    }
}
