---
name: invoices
url: /invoices
---
<div class="vertical grid-frame">
    <div class="grid-content shrink" style="padding: 0;">
        <div ng-include="'/templates/partials/menu_bar.html'"></div>
    </div>
    <div ng-include="'/templates/partials/side_bar.html'"></div>
    <div class="ls-app-body">
        <div class="grid-container ls-table-layout-pages ls-invoices" ng-controller="manageInvoiceCtrl as invoiceCtrl">
            <div class="grid-block">
                <div class="grid-block small-8 vertical">
                   <div class="grid-content">
                       <h2>Invoices</h2>
                   </div>
                </div>
                <div class="grid-block small-4 vertical">
                   <div class="grid-content text-right">
                    </div>
                </div>
            </div>
            <div class="grid-block">
               <div class="grid-block small-12 vertical">
                   <div class="grid-content">
                        <div class="ls-table-responsive-vertical shadow-z-1">
                          <table id="table" class="ls-table ls-table-hover">
                              <thead>
                                <tr>
                                  <th>ID</th>
                                  <th>Invoice Date</th>
                                  <th>Customer Name</th>
                                  <th>Total Payment (BT)</th>
                                  <th>Tax Amount</th>
                                  <th>Status</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="invoice in invoices">
                                  <td data-title="id">
                                      {{invoice.id}}
                                  </td>
                                  <td data-title="invoice date">
                                      {{invoice.invoice_date | date}}
                                  </td>
                                  <td data-title="customer name">
                                      <a ui-sref="customer({id: {{invoice.customer.id}}})">{{invoice.customer.first_name | titleCase}} {{invoice.customer.last_name | titleCase}} </a>
                                  </td>
                                  <td data-title="total payment before tax">
                                      {{invoice.total_payment_before_tax | currency}}
                                  </td>
                                  <td data-title="tax amount">
                                      {{invoice.tax_amount | currency}}
                                  </td>
                                  <td data-title="status">
                                      {{invoice.status | uppercase }}
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                       </div>
                    </div>
                </div>
           </div>
        </div>
    </div>
</div>
