---
name: orders
url: /orders
---
<div class="vertical grid-frame">
    <div class="grid-content shrink" style="padding: 0;">
        <div ng-include="'/templates/partials/menu_bar.html'"></div>
    </div>
    <div ng-include="'/templates/partials/side_bar.html'"></div>
    <div class="ls-app-body">
        <div class="grid-container ls-table-layout-pages ls-orders" ng-controller="manageOrderCtrl as orderCtrl">
            <div class="grid-block">
                <div class="grid-block small-8 vertical">
                   <div class="grid-content">
                       <h2>Orders For {{today_date | date}}</h2>
                   </div>
                </div>
                <div class="grid-block small-4 vertical">
                   <div class="grid-content text-right">
                        <form class="ls-form ls-export-form"  name="exportForm" ng-submit="submitExportForm()">
                            <input type="submit" class="success button ls-export-button" name="export" value="Export as CSV">
                        </form>
                    </div>
                </div>
            </div>
            <div class="grid-block" ng-repeat="offer in offers">
               <div class="grid-block small-12 vertical">
                   <div class="grid-content">
                        <h4>{{offer.meal.restaurant.name}}</h4>
                        <p><strong>{{offer.meal.name}}</strong>
                        <br> {{offer.meal.ingredients}}
                        </p>
                        <div class="ls-table-responsive-vertical shadow-z-1">
                           <table id="table" class="ls-table ls-table-hover">
                              <thead>
                                <tr>
                                  <th>ID</th>
                                  <th>Customer Name</th>
                                  <th>Pickup Time</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="order in offer.orders">
                                    <td>{{order.id}}</td>
                                    <td><a ui-sref="customer({id: order.customer.id })">{{order.customer.first_name | titleCase}} {{order.customer.last_name | titleCase}} </a></td>
                                    <td>{{order.pickup_time.pickup_time}}</td>
                                </tr>
                              </tbody>
                            </table>
                       </div>
                    </div>
                </div>
           </div>
        </div>
    </div>
</div>
