---
name: payment-plans
url: /payment-plans
---
<div class="vertical grid-frame">
    <div class="grid-content shrink" style="padding: 0;">
        <div ng-include="'/templates/partials/menu_bar.html'"></div>
    </div>
    <div ng-include="'/templates/partials/side_bar.html'"></div>
    <div class="ls-app-body">
        <div class="grid-container ls-manage-pages" ng-controller="managePaymentPlanCtrl as paymentPlan">
            <div class="grid-block">
                <div class="grid-block small-8 vertical">
                   <div class="grid-content">
                       <h2>Manage Payment Plans</h2>
                   </div>
                </div>
                <div class="grid-block small-4 vertical">
                   <div class="grid-content text-right">
                       <a ui-sref="create-payment-plan" class="button success ls-create-button">Create Payment Plan</a>
                   </div>
                </div>
            </div>
            <div class="grid-block">
               <div class="grid-block small-12 vertical">
                   <div class="grid-content">
                        <ul>
                            <li class="ls-card ls-payment-plan-card" ng-repeat="plan in paymentPlans">
                                <a ui-sref="plan({id:plan.id})"  class="ls-card-link">x</a>
                                <figure class="ls-plan-card-info">
                                    <h4>{{plan.name}}</h4>
                                    <img src="http://lorempixel.com/400/300/"/>
                                    <figcaption class="ls-plan-card-caption">
                                        <p>{{plan.description}}</p>
                                        <h6>{{plan.price}}</h6>
                                         <a ui-sref="plan({id:plan.id})" class="button">Edit</a>
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </div>
                </div>
           </div>
        </div>
    </div>
</div>
