---
name: restaurant
url: /restaurant/:id
---
<div class="vertical grid-frame">
    <div class="grid-content shrink" style="padding: 0;">
        <div ng-include="'/templates/partials/menu_bar.html'"></div>
    </div>
    <div ng-include="'/templates/partials/side_bar.html'"></div>
    <div class="ls-app-body">
        <div class="grid-container ls-res-details" ng-controller="restaurantInfoCtrl as resInfo">
            <div class="grid-block">
                <div class="grid-block small-9 vertical">
                    <div class="grid-content">
                        <h2>{{restaurant.name}}</h2>
                        <h4>{{restaurant.street_address}}</h4>
                        <h6>{{restaurant.phone_number}}</h6>
                    </div>
                </div>
                <div class="grid-block small-3 vertical">
                    <div class="grid-content text-right">
                        <img src="http://lorempixel.com/400/400/" alt="">
                        <a ui-sref="restaurant-edit({id: restaurant_id})" class="button edit-button">Edit Information</a>
                    </div>
                </div>
           </div>
           <div class="grid-block">
                <div class="grid-block small-6 vertical">
                    <div class="grid-content">
                        <h3>Meals</h3>
                        <ul>
                            <li class="ls-card ls-meals-card" ng-repeat="meal in restaurant.meals">
                                <a ui-sref="meal({id:meal.id})" class="ls-card-link">x</a>
                                <figure class="ls-meal-card-info">
                                    <img src="http://lorempixel.com/400/400/"/>
                                    <figcaption class="ls-meal-card-caption">
                                        <div class="ls-meal-card-title">
                                            <h4>{{meal.name}}</h4>
                                        </div>
                                        <a href="" class="button">More Info</a>
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="grid-block small-6 vertical">
                    <div class="grid-content">
                        <h3>Address</h3>
                        <p>
                            {{restaurant.street_address}},<br>
                            {{restaurant.city}}, {{restaurant.state}},<br>
                            {{restaurant.country}}, {{restaurant.postal_code}}
                        </p>
                        <h3>Owner's Information</h3>
                        <p>
                            {{restaurant.owner.first_name}} {{restaurant.owner.last_name}},<br>
                            {{restaurant.owner.phone_number}}
                        </p>
                    </div>
                </div>
           </div>
        </div>
    </div>
</div>
