---
name: restaurant-details
url: /restaurant-details
---
<div class="vertical grid-frame">
    <div class="grid-content shrink" style="padding: 0;">
        <div ng-include="'/templates/partials/menu_bar.html'"></div>
    </div>
    <div ng-include="'/templates/partials/side_bar.html'"></div>
    <div class="ls-app-body">
        <div class="grid-container ls-res-details">
            <div class="grid-block">
                <div class="grid-block small-9 vertical">
                    <div class="grid-content">
                        <h2>Chipotle</h2>
                        <h4>187 Fake Address St.</h4>
                    </div>
                </div>
                <div class="grid-block small-3 vertical">
                    <div class="grid-content text-right">
                        <img src="http://lorempixel.com/400/400/" alt="">
                        <a ui-sref="edit-restaurant" class="button edit-button">Edit Information</a>
                    </div>
                </div>
           </div>
           <div class="grid-block">
                <div class="grid-block small-6 vertical">
                    <div class="grid-content">
                        <h3>Meals</h3>
                        <ul>
                            <li class="ls-card ls-meals-card">
                                <a ui-sref="edit-meal" class="ls-card-link">x</a>
                                <figure class="ls-meal-card-info">
                                    <img src="http://lorempixel.com/400/400/"/>
                                    <figcaption class="ls-meal-card-caption">
                                        <div class="ls-meal-card-title">
                                            <h4>Chicken Burrito</h4>
                                            <p>STATUS: <span class="ls-status ls-inactive">Not Available</span></p>
                                        </div>
                                        <a href="" class="button">More Info</a>
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="ls-card ls-meals-card">
                                <a ui-sref="edit-meal" class="ls-card-link">x</a>
                                <figure class="ls-meal-card-info">
                                    <img src="http://lorempixel.com/400/400/"/>
                                    <figcaption class="ls-meal-card-caption">
                                        <div class="ls-meal-card-title">
                                            <h4>Beef Burrito</h4>
                                            <p>STATUS: <span class="ls-status ls-active">Available</span></p>
                                        </div>
                                        <a href="" class="button">More Info</a>
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="grid-block small-6 vertical">
                    <div class="grid-content">
                        <h3>Address</h3>
                        <p>
                            187 Fake Address St.,<br>
                            Toronto, Ontario,<br>
                            Canada, M5V310
                        </p>
                        <h3>Owner's Information</h3>
                        <p>
                            Hassan Ahmed,<br>
                            516-283-8921
                        </p>
                    </div>
                </div>
           </div>
        </div>
    </div>
</div>
