---
name: manage-restaurants
url: /manage-restaurants
---
<div class="vertical grid-frame">
    <div class="grid-content shrink" style="padding: 0;">
        <div ng-include="'/templates/partials/menu_bar.html'"></div>
    </div>
    <div ng-include="'/templates/partials/side_bar.html'"></div>
    <div class="ls-app-body">
        <div class="grid-container ls-manage-restaurants">
            <div class="grid-block">
               <div class="grid-block small-12 vertical">
                   <div class="grid-content">
                        <h2>Manage Restaurants</h2>
                        <ul>
                            <li class="ls-card ls-restaurant-card">
                                <a ui-sref="restaurant-details" class="ls-card-link">x</a>
                                <figure class="ls-restaurant-card-info">
                                    <img src="http://lorempixel.com/400/400/"/>
                                    <figcaption class="ls-restaurant-card-caption">
                                        <div class="ls-left-card-info">
                                            <h4>Lorem Ipsum</h4>
                                            <p>75 Queens Wharf</p>
                                        </div>
                                        <div class="ls-right-card-info">
                                            <a class="button">Edit</a>
                                        </div>
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </div>
                </div>
           </div>
        </div>
    </div>
</div>
