---
name: manage-customers
url: /manage-customers
---
<div class="vertical grid-frame">
    <div class="grid-content shrink" style="padding: 0;">
        <div ng-include="'/templates/partials/menu_bar.html'"></div>
    </div>
    <div ng-include="'/templates/partials/side_bar.html'"></div>
    <div class="ls-app-body">
        <div class="grid-container ls-manage-customers">
            <div class="grid-block">
               <div class="grid-block small-12 vertical">
                   <div class="grid-content">
                        <h2>Manage Customers</h2>
                        <ul>
                            <li class="ls-card ls-customers-card">
                                <a href="" class="ls-card-link"></a>
                                <figure class="ls-customer-card-info">
                                    <img src="http://lorempixel.com/400/400/"/>
                                    <figcaption class="ls-customer-card-caption">
                                        <div class="ls-customer-card-title">
                                            <h4>Daniel Janetos</h4>
                                            <p>STATUS: <span class="ls-status ls-inactive">Inactive</span></p>
                                        </div>
                                        <a href="" class="button">
                                            More Info</a>
                                    </figcaption>
                                </figure>
                            </li>
                             <li class="ls-card ls-customers-card">
                                <a href="" class="ls-card-link"></a>
                                <figure class="ls-customer-card-info">
                                    <img src="http://lorempixel.com/400/400/"/>
                                    <figcaption class="ls-customer-card-caption">
                                        <div class="ls-customer-card-title">
                                            <h4>Daniel Janetos</h4>
                                            <p>STATUS: <span class="ls-status ls-active">Active</span></p>
                                        </div>
                                        <a href="" class="button">
                                            More Info</a>
                                    </figcaption>
                                </figure>
                            </li>
                             <li class="ls-card ls-customers-card">
                                <a href="" class="ls-card-link"></a>
                                <figure class="ls-customer-card-info">
                                    <img src="http://lorempixel.com/400/400/"/>
                                    <figcaption class="ls-customer-card-caption">
                                        <div class="ls-customer-card-title">
                                            <h4>Daniel Janetos</h4>
                                            <p>STATUS: <span class="ls-status ls-active">Active</span></p>
                                        </div>
                                        <a href="" class="button">
                                            More Info</a>
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </div>
                </div>
           </div>
        </div>
    </div>
</div>
