---
name: manage-meals
url: /manage-meals
---
<div class="vertical grid-frame">
    <div class="grid-content shrink" style="padding: 0;">
        <div ng-include="'/templates/partials/menu_bar.html'"></div>
    </div>
    <div ng-include="'/templates/partials/side_bar.html'"></div>
    <div class="ls-app-body">
        <div class="grid-container ls-manage-meals">
            <div class="grid-block">
               <div class="grid-block small-12 vertical">
                   <div class="grid-content">
                        <h2>Manage Meals</h2>
                        <ul>
                            <li class="ls-card ls-meal-card">
                                <a href="" class="ls-card-link"></a>
                                <figure class="ls-meal-card-info">
                                    <img src="http://lorempixel.com/400/400/food"/>
                                    <figcaption class="ls-meal-card-caption">
                                        <div class="ls-meal-card-title">
                                            <h4>Chicken Burrito Naan</h4>
                                            <p>Chipotle</p>
                                        </div>
                                        <a href="" class="button">Edit </a>
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="ls-card ls-meal-card">
                                <a href="" class="ls-card-link"></a>
                                <figure class="ls-meal-card-info">
                                    <img src="http://lorempixel.com/400/400/food"/>
                                    <figcaption class="ls-meal-card-caption">
                                        <div class="ls-meal-card-title">
                                            <h4>Chicken Burrito Naan</h4>
                                            <p>Chipotle</p>
                                        </div>
                                        <a href="" class="button">Edit </a>
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="ls-card ls-meal-card">
                                <a href="" class="ls-card-link"></a>
                                <figure class="ls-meal-card-info">
                                    <img src="http://lorempixel.com/400/400/food"/>
                                    <figcaption class="ls-meal-card-caption">
                                        <div class="ls-meal-card-title">
                                            <h4>Chicken Burrito Naan</h4>
                                            <p>Chipotle</p>
                                        </div>
                                        <a href="" class="button">Edit </a>
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="ls-card ls-meal-card">
                                <a href="" class="ls-card-link"></a>
                                <figure class="ls-meal-card-info">
                                    <img src="http://lorempixel.com/400/400/food"/>
                                    <figcaption class="ls-meal-card-caption">
                                        <div class="ls-meal-card-title">
                                            <h4>Chicken Burrito Naan</h4>
                                            <p>Chipotle</p>
                                        </div>
                                        <a href="" class="button">Edit </a>
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="ls-card ls-meal-card">
                                <a href="" class="ls-card-link"></a>
                                <figure class="ls-meal-card-info">
                                    <img src="http://lorempixel.com/400/400/food"/>
                                    <figcaption class="ls-meal-card-caption">
                                        <div class="ls-meal-card-title">
                                            <h4>Chicken Burrito Naan</h4>
                                            <p>Chipotle</p>
                                        </div>
                                        <a href="" class="button">Edit </a>
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="ls-card ls-meal-card">
                                <a href="" class="ls-card-link"></a>
                                <figure class="ls-meal-card-info">
                                    <img src="http://lorempixel.com/400/400/food"/>
                                    <figcaption class="ls-meal-card-caption">
                                        <div class="ls-meal-card-title">
                                            <h4>Chicken Burrito Naan</h4>
                                            <p>Chipotle</p>
                                        </div>
                                        <a href="" class="button">Edit </a>
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </div>
                </div>
           </div>
        </div>
    </div>
</div>
