---
name: admin-dashboard
url: /admin-dashboard
---
<div class="vertical grid-frame">
    <div class="ls-app-bg"></div>
    <div class="grid-content shrink" style="padding: 0;">
        <div ng-include="'/templates/partials/menu_bar.html'"></div>
    </div>
    <div ng-include="'/templates/partials/side_bar.html'"></div>
    <div class="ls-app-body">
        <div class="grid-container ls-admin-dashboard">
            <div class="grid-block">
               <div class="grid-block small-12 medium-6 vertical">
                   <div class="grid-content">
                        <h2>Welcome Dan!</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero ullam quibusdam delectus odit distinctio dolores repellat quidem, accusantium animi laboriosam dicta quis corporis eaque, consequuntur doloribus ipsam incidunt voluptate ipsa.</p>
                        <h4>Major Updates</h4>
                        <ul class="ls-card">
                            <li>ham pork hock ham prosciutto</li>
                            <li>ham chop hamburger</li>
                            <li>brisket pork cow landjaeger sopressata</li>
                            <li>filet capicola chicken</li>
                        </ul>
                        <h4>Latest Customers</h4>
                        <ul class="ls-card">
                            <li>sausage pig ground prosciutto</li>
                            <li>shank shoulder tip tongue ground</li>
                            <li>cow pig beef capicola</li>
                            <li>venison rump cow shankle frankfurter</li>
                            <li>ham kevin cow tail</li>
                        </ul>
                    </div>
                </div>
                <div class="grid-block medium-6 vertical">
                    <div class="grid-content">
                        <figure class="ls-profile-image-container">
                            <img src="http://lorempixel.com/600/600/" class="ls-card ls-card-circle" alt="">
                        </figure>
                    </div>
                </div>
           </div>
        </div>
    </div>
</div>
