---
name: restaurant-info
url: /restaurant-info
---
<div class="vertical grid-frame">
    <div class="grid-content shrink" style="padding: 0;">
        <div ng-include="'/templates/partials/menu_bar.html'"></div>
    </div>
    <div ng-include="'/templates/partials/side_bar.html'"></div>
    <div class="ls-app-body">
        <div class="grid-container ls-create-account">
            <div class="grid-block">
               <div class="grid-block small-12 vertical">
                   <div class="grid-content">
                        <h2>Restaurant Profile</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, facilis, voluptate. Nam omnis voluptatum sunt totam incidunt excepturi quas ad, magnam accusantium tenetur fuga voluptatibus perspiciatis delectus hic. At, dolorem.</p>
                        <form>
                            <div class="grid-block">
                                <div class="small-12 medium-6 grid-content">
                                    <label for="resName">
                                        Restaurant Name
                                        <input type="text" placeholder="Restaurant Name" class="ls-input-fields" name="resName" id="resName">
                                    </label>
                                    <label for="resPN">
                                        Phone Number
                                        <input type="tel" placeholder="Phone Number" class="ls-input-fields" name="resPN" id="resPN">
                                    </label>
                                    <label for="ownerName">
                                        Owner's Name
                                        <input type="text" placeholder="Owner's Name" class="ls-input-fields" name="ownerName" id="ownerName">
                                    </label>
                                    <label for="ownerPN">
                                        Owner's Phone Number
                                        <input type="tel" placeholder="Owner's Phone Number" class="ls-input-fields" name="ownerPN" id="ownerPN">
                                    </label>
                                    <label for="resLogo">
                                        Restaurant Logo <br>
                                        <input type="file" placeholder="Restaurant Logo" class="ls-input-fields" name="resLogo" id="resLogo">
                                    </label>
                                </div>
                                <div class="small-12 medium-6 grid-content">
                                    <label for="resSA">
                                        Street Address <input type="text" placeholder="e.g. 75 Queens Wharf" class="ls-input-fields" name="resSA" id="resSA"/>
                                    </label>
                                    <label for="resCity">
                                        City
                                        <input type="text" placeholder="e.g. Toronto" class="ls-input-fields" name="resCity" id="resCity">
                                    </label>
                                    <label for="resState">
                                        State / Province
                                        <input type="text" placeholder="e.g. Ontario" class="ls-input-fields" name="resState" id="resState">
                                    </label>
                                    <label for="resCountry">
                                        Country
                                        <input type="text" placeholder="e.g. Canada" class="ls-input-fields" name="resCountry" id="resCountry">
                                    </label>
                                    <label for="resPC">
                                        Postal Code
                                        <input type="text" placeholder="e.g. M5V4B1" class="ls-input-fields" name="resPC" id="resPC">
                                    </label>
                                </div>
                            </div>
                            <input type="submit" class="button" value="Add Restaurant Info">
                        </form>
                    </div>
                </div>
           </div>
        </div>
    </div>
</div>
