<div class="sidebar grid-content">
    <section class="block-list">
        <ul class="fa-ul">
            <li>
                <a ui-sref="admin-dashboard"><i class="fa-li fa fa-tachometer" aria-hidden="true"></i>Dashboard</a>
            </li>
        </ul>
    </section>
    <section class="block-list">
        <ul class="fa-ul">
            <li>
                <a ui-sref="manage-orders"><i class="fa-li fa fa-inbox" aria-hidden="true"></i>Manage Orders</a>
            </li>
            <li>
                <a ui-sref="past-orders"><i class="fa-li fa fa-history" aria-hidden="true"></i>Past Orders</a>
            </li>

            <li>
                <a ui-sref="manage-invoices"><i class="fa-li fa fa-money" aria-hidden="true"></i>Manage Invoices</a>
            </li>
            <li>
                <a ui-sref="manage-feedbacks"><i class="fa-li fa fa-comment" aria-hidden="true"></i> Manage Feedbacks</a>
            </li>
        </ul>
    </section>
    <section class="block-list">
        <ul class="fa-ul">
            <li>
                <a ui-sref="manage-meal-offers"><i class="fa-li fa fa-ticket" aria-hidden="true"></i>Manage Meal Offers</a>
            </li>
            <li>
                <a ui-sref="manage-restaurants"><i class="fa-li fa fa-building" aria-hidden="true"></i>Manage Restaurants</a>
            </li>
            <li>
                <a ui-sref="manage-meals"><i class="fa-li fa fa-cutlery" aria-hidden="true"></i>Manage Meals</a>
            </li>
        </ul>
    </section>
    <section class="block-list">
        <ul class="fa-ul">
            <li>
                <a ui-sref="manage-customers"><i class="fa-li fa fa-user" aria-hidden="true"></i>Manage Customers</a>
            </li>
            <li>
                <a ui-sref="manage-owners"><i class="fa-li fa fa-user" aria-hidden="true"></i>Manage Owners</a>
            </li>
            <li>
                <a ui-sref="create-account"><i class="fa-li fa fa-user" aria-hidden="true"></i>Create Account</a>
            </li>
        </ul>
    </section>
    <section class="block-list">
        <ul class="fa-ul">
            <li>
                <a ui-sref="edit-account"><i class="fa-li fa fa-pencil-square-o" aria-hidden="true"></i>Edit Account</a>
            </li>
            <li>
                <a ui-sref="logout"><i class="fa-li fa fa-sign-out" aria-hidden="true"></i>Logout</a>
            </li>
        </ul>
    </section>
</div>

