---
name: create-payment-plan
url: /create-payment-plan
---
<div class="vertical grid-frame">
    <div class="grid-content shrink" style="padding: 0;">
        <div ng-include="'/templates/partials/menu_bar.html'"></div>
    </div>
    <div ng-include="'/templates/partials/side_bar.html'"></div>
    <div class="ls-app-body">
        <div class="grid-block ls-back-bar">
            <div class="grid-block small-12 vertical">
                <div class="grid-content">
                    <p><a ui-sref="payment-plans"><i class="fa fa-angle-left" aria-hidden="true"></i> Back to Payment Plans</a></p>
                </div>
            </div>
        </div>
        <div class="grid-container" ng-controller="createPaymentPlanCtrl as createPaymentPlan">
            <div class="grid-block ls-title-bar">
                <div class="grid-block small-12 vertical">
                    <div class="grid-content">
                         <h2>Create Payment Plan</h2>
                    </div>
                </div>
            </div>
            <div class="grid-block">
               <div class="grid-block small-12 vertical">
                   <div class="grid-content">
                        <form class="ls-form ls-create-form" name="createPaymentPlanForm" ng-submit="submitForm(createPaymentPlanForm.$valid)" novalidate>
                            <div class="grid-block">
                                <div class="small-12 medium-6 grid-content">
                                    <div class="ls-form-group" ng-class="{ 'ls-has-error' : createPaymentPlanForm.planName.$invalid && !createPaymentPlanForm.planName.$pristine }">
                                        <label for="planName">
                                            Name
                                            <input type="text" placeholder="Payment Plan Name" class="ls-input-fields" name="planName" id="planName" ng-model="paymentPlanFormData.name" required>
                                        </label>
                                        <p ng-show="createPaymentPlanForm.planName.$invalid && !createPaymentPlanForm.planName.$pristine" class="ls-help-block">Enter a valid payment plan name.</p>
                                    </div>
                                    <div class="ls-form-group" ng-class="{ 'ls-has-error' : createPaymentPlanForm.planDesc.$invalid && !createPaymentPlanForm.planDesc.$pristine }">
                                        <label for="planDesc">
                                            Description
                                            <textarea name="planDesc" id="planDesc" cols="30" rows="8" placeholder="Description" class="ls-input-fields" ng-model="paymentPlanFormData.description" required></textarea>
                                        </label>
                                        <p ng-show="createPaymentPlanForm.planDesc.$invalid && !createPaymentPlanForm.planDesc.$pristine" class="ls-help-block">Enter a valid payment plan description.</p>
                                    </div>
                                    <div class="ls-form-group" ng-class="{ 'ls-has-error' : createPaymentPlanForm.planPrice.$invalid && !createPaymentPlanForm.planPrice.$pristine }">
                                        <label for="planPrice">
                                            Price
                                            <input type="number" placeholder="e.g. 9.99" class="ls-input-fields" name="planPrice" id="planPrice" ng-model="paymentPlanFormData.price" step="0.01" required>
                                        </label>
                                        <p ng-show="createPaymentPlanForm.planPrice.$invalid && !createPaymentPlanForm.planPrice.$pristine" class="ls-help-block">Enter a valid payment plan price.</p>
                                    </div>
                                </div>
                                <div class="small-12 medium-6 grid-content">
                                    <div class="ls-form-group" ng-class="{ 'ls-has-error' : createPaymentPlanForm.planImage.$invalid && !createPaymentPlanForm.planImage.$pristine }">
                                        <label for="planImage">
                                            Icon Image <br>
                                            <input type="file" ngf-select name="planImage" id="planImage" ng-model="paymentPlanFormData.image_file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" required>
                                            <img ngf-src="paymentPlanFormData.image_file || '/assets/img/lunchsociety-thumb.png'">
                                        </label>
                                        <p ng-show="createPaymentPlanForm.planImage.$invalid && !createPaymentPlanForm.planImage.$pristine" class="ls-help-block">Choose image file for the icon.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-block">
                                <div class="small-6 grid-content text-right">

                                </div>
                                <div class="small-6 grid-content text-right">
                                    <input type="submit" class="button" value="Add Payment Plan" ng-disabled="createPaymentPlanForm.$invalid">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
           </div>
        </div>
    </div>
</div>
