---
name: edit-account
url: /edit-account
---
<div class="vertical grid-frame">
    <div class="grid-content shrink" style="padding: 0;">
        <div ng-include="'/templates/partials/menu_bar.html'"></div>
    </div>
    <div ng-include="'/templates/partials/side_bar.html'"></div>
    <div class="ls-app-body">
        <div class="grid-container ls-owner" ng-controller="editUserCtrl as editUser">
            <div class="grid-block ls-title-bar">
                <div class="grid-block small-12 vertical">
                    <div class="grid-content">
                        <h2>Admin Settings</h2>
                    </div>
                </div>
            </div>
            <div class="grid-block">
                <div class="grid-block small-12 vertical">
                    <div class="grid-content">
                        <form class="ls-form ls-edit-form" name="editUserForm" ng-submit="submitEditForm(editUserForm.$valid)" novalidate>
                            <div class="grid-block">
                                <div class="small-12 medium-6 grid-content">
                                    <label>
                                        Email Address
                                        <input type="text" name="email" placeholder="Email Address" class="ls-input-fields" ng-model="editUserFormData.email" disabled>
                                    </label>
                                </div>
                                <div class="small-12 medium-6 grid-content">
                                    <div class="ls-form-group" ng-class="{ 'ls-has-error' : editUserForm.password.$invalid && !editUserForm.password.$pristine }">
                                        <label>
                                            Password
                                            <input type="text" name="password" placeholder="Password" class="ls-input-fields" ng-model="editUserFormData.password" required>
                                        </label>
                                        <p ng-show="editUserForm.password.$invalid && !editUserForm.password.$pristine" class="ls-help-block">Enter a valid password.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-block">
                                <div class="small-6 grid-content text-right">
                                </div>
                                <div class="small-6 grid-content text-right">
                                    <input type="submit" class="button" name="update" value="Update User Information" ng-disabled="editUserForm.$invalid">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
           </div>
        </div>
    </div>
</div>
