---
name: res-meal-offers
url: /restaurant/meal-offers
---
<div class="vertical grid-frame">
    <div class="ls-app-bg"></div>
    <div ng-include="'/templates/restaurant/partials/menu-bar.html'"></div>
    <div class="ls-app-body ls-restaurant">
        <div class="grid-container ls-table-layout-pages ls-restaurant-pages" ng-controller="resMealOffersCtrl as mealOffers">
            <div class="grid-block ls-title-bar">
                <div class="grid-block small-8 vertical">
                    <div class="grid-content">
                        <h2>Meal Offers</h2>
                    </div>
                </div>
                <div class="grid-block small-4 vertical">
                    <div class="grid-content text-right">
                        <a ui-sref="res-create-meal-offer" class="button success ls-create-button">Create Meal Offer</a>
                    </div>
                </div>
            </div>
            <section class="grid-block ls-filter-section">
                <div class="grid-block medium-6 vertical">
                    <div class="grid-content">
                        <label for="filterWeek">
                            Filter By Week
                        </label>
                        <select name="filterWeek" id="filterWeek" class="ls-input-fields" ng-model="filterWeek" ng-options="week as week.name for week in weeks track by week.id" required>
                        </select>
                    </div>
                </div>
                <div class="grid-block medium-3 vertical">
                    <div class="grid-content">
                        <a ng-click="changeWeek('custom')" class="button">Filter By Week</a>
                    </div>
                </div>
                <div class="grid-block medium-3 vertical">
                    <div class="grid-content">
                        <a ng-click="changeWeek('current')" class="button secondary">This Week's Offers</a>
                    </div>
                </div>
            </section>
            <div class="grid-block ls-nav-header">
                <div class="grid-block medium-3 vertical">
                    <div class="grid-content">
                        <a ng-click="changeWeek('prevWeek')" class="ls-link ls-prev-link" ng-if="currentViewWeek.id != 1"><i class="fa fa-angle-left" aria-hidden="true"></i> Previous Week</a>
                    </div>
                </div>
                <div class="grid-block medium-6 vertical">
                    <div class="grid-content text-center">
                        <h4>{{currentViewWeek.name}}</h4>
                        <p>{{currentViewWeek.from_date | date}} - {{currentViewWeek.to_date | date}}</p>
                    </div>
                </div>
                <div class="grid-block medium-3 vertical">
                    <div class="grid-content">
                        <a ng-click="changeWeek('nextWeek')" class="ls-link ls-next-link">Next Week <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid-block">
                <div class="grid-block small-12 vertical">
                    <div class="grid-content">
                        <div class="ls-table-responsive-vertical shadow-z-1">
                            <table id="table" class="ls-table ls-table-hover">
                                <thead>
                                    <tr>
                                        <th>Offer ID</th>
                                        <th>Meal Name</th>
                                        <th>Meal Ingredients</th>
                                        <th>Number of Plates Offered</th>
                                        <th>Number of Plates Left</th>
                                        <th>Offer date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="offer in offers">
                                        <td data-title="restaurant">{{offer.id}}</td>
                                        <td data-title="total meals">{{offer.meal.name}}</td>
                                        <td data-title="total payment before tax">{{offer.meal.ingredients}}</td>
                                        <td data-title="tax amount">{{offer.plates_assigned}}</td>
                                        <td data-title="tax amount">{{offer.plates_left}}</td>
                                        <td data-title="offer date">{{formatDate(offer.offer_date)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
