---
name: res-profile
url: /restaurant/profile
---
<div class="vertical grid-frame">
    <div class="ls-app-bg"></div>
    <div ng-include="'/templates/restaurant/partials/menu-bar.html'"></div>
    <div class="ls-app-body ls-restaurant">
        <div class="grid-container ls-restaurant-pages" ng-controller="">
            <div class="grid-block ls-title-bar">
                <div class="grid-block small-12 vertical">
                    <div class="grid-content">
                        <h2>My Profile</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
