---
name: kitchen-open
url: /kitchen-open
---
<div class="vertical grid-frame">
    <div class="ls-app-bg"></div>
    <div ng-include="'/templates/customer/partials/menu-bar.html'"></div>
    <div class="ls-app-body ls-customer customer">
        <div class="ls-customer-pages" ng-controller="openKitchenCtrl as kitchen">
            <div class="grid-block ls-full-height">
               <div class="grid-block small-8 vertical">
                    <div class="grid-content">
                        <ul class="ls-meal-choices">
                            <li class="ls-meal-choice-card" ng-click="getDetails({id: meal_offer.id})">
                                <img src="http://lorempixel.com/400/300/"/>
                                <h3 class="ls-meal-name">Meal Name</h3>
                                <p>Restaurant Name</p>
                                <p class="ls-address">Address</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="grid-block small-4 vertical ls-map">
                    <ui-gmap-google-map center='map.center' zoom='map.zoom' options="options">
                        <ui-gmap-markers models="restaurants" coords="'self'" icon="'icon'" options="'options'" click="'onClick'">
                             <ui-gmap-windows show="show">
                                <div ng-non-bindable>{{title}}</div>
                             </ui-gmap-windows>
                        </ui-gmap-markers>
                    </ui-gmap-google-map>
                </div>
           </div>
        </div>
    </div>
</div>
