---
name: kitchen-open
url: /kitchen-open
---
<div class="vertical grid-frame">
    <div class="ls-app-bg"></div>
    <div ng-include="'/templates/partials/menu_bar.html'"></div>
    <div class="ls-app-body ls-customer">
        <div class="ls-customer-pages" ng-controller="openKitchenCtrl as kitchen">
            <div class="grid-block ls-full-height">
               <div class="grid-block small-8 vertical">
                    <div class="grid-content">

                    </div>
                </div>
                <div class="grid-block small-4 vertical ls-map">
                    <ui-gmap-google-map center='map.center' zoom='map.zoom' options="options">
                        <ui-gmap-markers models="restaurants" coords="'self'" icon="'icon'" options="'options'" click="'onClick'">
                             <ui-gmap-windows show="show">
                                <div ng-non-bindable>{{title}}</div>
                             </ui-gmap-windows>
                        </ui-gmap-markers>
                    </ui-gmap-google-map>
                </div>
           </div>
        </div>
    </div>
</div>
