---
name: kitchen-closed
url: /kitchen-closed
---
<div class="vertical grid-frame">
    <div class="ls-app-bg"></div>
    <div ng-include="'/templates/customer/partials/menu-bar.html'"></div>
    <div class="ls-app-body customer">
        <div class="ls-customer-pages" ng-controller="createProfileCtrl as createProfile">
            <div class="grid-block ls-full-height">
               <div class="grid-block small-12 vertical">
                    <div class="grid-content">

                    </div>
                </div>
           </div>
        </div>
    </div>
</div>
