---
name: order
url: /order
---
<div class="vertical grid-frame">
    <div class="ls-app-bg"></div>
    <div ng-include="'/templates/customer/partials/menu-bar.html'"></div>
    <div class="ls-app-body ls-customer">
        <div class="grid-container ls-customer-pages ls-order-page" ng-controller="orderCtrl as order">
            <div class="grid-block">
                <div class="grid-block small-9 vertical">
                    <div class="grid-content">
                        <h2>Order #1{{order.id}} - May 15, 2017{{order.order_date}}</h2>
                    </div>
                </div>
                <div class="grid-block small-3 vertical">
                    <div class="grid-content text-right">
                        <p class="button ls-logout-btn">Cancel</p>
                    </div>
                </div>
            </div>
            <div class="grid-block">
                <div class="grid-block small-8 vertical">
                    <div class="grid-content">
                        <div class="ls-meal-offer-details">
                            <h3>Meal Name {{order.offer.meal.name}}</h3>
                            <h5>Restaurant Name {{order.offer.restaurant.name}}</h5>
                            <ul class="ls-text-tabs">
                                <li class="ls-text-tab" ng-class="{active: tabview == 'description'}"><a ng-click="changeTabview('description')" class="ls-tab-link">Description</a></li>
                                <li class="ls-text-tab" ng-class="{active: tabview == 'ingredients'}"><a ng-click="changeTabview('ingredients')" class="ls-tab-link">Ingredients</a></li>
                            </ul>
                            <div ng-show="tabview" ng-switch="tabview">
                                <div class="ls-tab-content" ng-switch-when="description">
                                    <p class="ls-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error totam ratione adipisci placeat ex odit nobis quam minima expedita accusamus. Qui sequi, suscipit totam iste officiis commodi repudiandae quasi quas. {{order.offer.meal.description}}</p>
                                </div>
                                <div class="ls-tab-content" ng-switch-when="ingredients">
                                    <p class="ls-ingredients">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error totam ratione adipisci. {{order.offer.meal.ingredients}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-block small-4 vertical">
                    <div class="grid-content text-right">
                        <img src="http://lorempixel.com/400/300/" alt="">
                    </div>
                </div>
            </div>
            <div class="grid-block">
                <div class="grid-block small-8 vertical">
                    <div class="grid-content">
                        <h4>Pickup Time -- {{order.pickup_time.pickup_time}}</h4>
                        <p></p>
                        <h4>Address
                        {{order.offer.meal.restaurant.street_address}}
                        {{order.offer.meal.restaurant.city}}, {{order.offer.meal.restaurant.state}}, {{order.offer.meal.restaurant.country}}
                        {{order.offer.meal.restaurant.postal_code}}
                        </h4>
                        <p></p>
                    </div>
                </div>
                <div class="grid-block small-4 vertical ls-map">
                    <ui-gmap-google-map center='map.center' zoom='map.zoom' options="options">
                        <ui-gmap-markers models="restaurants" coords="'self'" icon="'icon'" options="'options'" click="'onClick'">
                             <ui-gmap-windows show="show">
                                <div ng-non-bindable>{{title}}</div>
                             </ui-gmap-windows>
                        </ui-gmap-markers>
                    </ui-gmap-google-map>
                </div>
            </div>
        </div>
    </div>
</div>
